@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

* {
    font-family: Roboto, serif;
    --Black: #101010;
    --Green: #99E2D0;
}

h1, h2 {
    font-family: Shrikhand, serif;
}

h3 {
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

h4 {
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

hr {
    width: 40px;
    height: 3px;
    background-color: var(--Green, #99E2D0);
    margin: 0 0 12px 0;
    border: none;
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    text-overflow: ellipsis;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}

header a {
    margin: 0 0 0 17px;
    cursor: pointer;
}

header h1 {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: start;
}

main img {
    width: 100%;
    max-height: 251px;
    object-fit: cover;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: -20px 0 0 0;
    padding: 0;
    background: #F6F6F6;
    border-radius: 25px 25px 0 0;
}

.restaurant-menu__title {
    padding: 0 17px;
    width: calc(100% - 34px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.restaurant-menu__title span {
    color: var(--Black, #101010);
    font-family: Shrikhand, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.heart-container:hover {
    cursor: pointer;
}

.heart-container i+i {
    display: none;
}

.main-container .starter, .main-container .main-course, .main-container .dessert {
    padding: 0 17px;
    width: calc(100% - 34px);
}

.card-menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.card-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: 0 0 18px 0;
    padding: 0;
    background: #FFFFFF;
    border-radius: 15px;
}

.title-container {
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Roboto, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 17px;
}

.price-check-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 17px;
    font-weight: 700;
}

.price-check-container .check {
    display: none;
}

.order-button {
    width: 186px;
    height: 50px;
    margin: 22px auto 40px auto;
    flex-shrink: 0;

    border-radius: 25px;
    background:  linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    border: none;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

footer {
    background: #353535;
    color: white;
    padding: 22px 25px 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

footer h3 {
    color: #FFF;
    font-family: Shrikhand, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: none;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

footer div a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 7px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

footer div a i {
    margin: 0 11px 0 0;
}

.fa-utensils {
    padding: 0 0 0 4px;
}

/* Media Queries for desktop */
@media (min-width: 1024px) {
    .main-container {
        margin: -20px auto 0 auto;
        max-width: 1055px;
    }

    .restaurant-menu__title {
        justify-content: center;
    }

    .heart-container {
        margin: auto 0 auto 24px;
    }

    .starter, .main-course, .dessert {
        margin: auto;
        max-width: 634px;
    }

    footer {
        flex-direction: row-reverse;
        justify-content: end;
    }

    footer div {
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    footer div a {
        margin: 0 11px;
    }

    footer h3 {
        margin: 30px 45px 30px 55px;
    }
}
